/*.bluebox
{
    background-color:black;
    width:300px;
    height:200px;
    /*transition:5s;
    //transition-timing-function:linear;
    transition-delay:2s;*/
    
/*}
.bluebox:hover
{
    background-color:red;
    transition:5s;
    width:500px;
  *  transform:transulatex   (20px);
}*/
/*.bluebox
{
    width:100px;
    height:100px;
    border-radius:50%;
    background-color: red;
    position: relative;
    animation-name:circle;
    animation-duration:3s;
    animation-fill-mode:forwards;
    animation-iteration-count: 100;
}
@keyframes circle{
    0%{
        background-color:pink;
        left:0px;
        top:0px;
        opacity:0;
        transform:translateX(0);
    }
    10%
    {
        background-color: brown;
        left:400px;
        top:100px;
    }
    50%
    {
        background-color: yellow;
        left:500px;
        top:500px;
       
    }
    75%
    {
        background-color: black;
        width:100px;
        height:100px;
        
        left:100px;
        top: 500px;
    }
    100%
    {
        background-color:aqua;
        left:50px;
        top:300px;
    }

    
.header{
    border:1px solid black;
    padding:10px;
    display:flex;
    justify-content:center;
}
.b1
{
    color:white;
    background-color: black;
    align-items: center;
    width:100px;
    height:25px ;

   
}
.container
{
    display:flex;
    justify-content:space-around;
    border:1px solid black;
    padding:10px;
    align-items: center;
    flex-direction:row;
     
}
.b2
{
    color:white;
    background-color:red;
}
.header2
{
    border:1px solid black;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;

}
.but
{ 
    background-color: green;
    border:1px solid black;
    position: relative;
    left:300px;
    top:200px;
    margin-bottom:10px;

}
.image img
{
    width:100px;
    height:100px;
    position: relative;
    left:150px;;
    border:1px solid black;
    padding: px;
    
}
.folder
{

    border:1px solid blue;
}*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    margin-top: 50px;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
  }
